:root {
  --cloudBurst: #243056;
  --jaffa: #F67C50;
  --mystic: #eef2f4;
  --white: #fff;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: var(--mystic);
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}

h1,
h2,
h3 {
  padding: 20px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 200%;
}

h2 { 
  font-size: 150%;
}

h3 { 
  font-size: 120%;
}

p {
  padding: 10px;
  margin: 10px;
  color: var(--jaffa);
  font-size: 1.1rem;
  text-align: center;
}

a {
  color: var(--mystic);
}

#nav-bar {
  background-color: transparent;
  text-align: center;
  height: 50px;
  margin: 10px;
  border: none;
  transition: transform .2s;
}

#nav-bar:hover {
  transform: scale(1.15);
  cursor: pointer;
  border: none;
}

.container {
  background-color: var(--cloudBurst);
  display: flex;
	/* justify-content: center; */
	align-items: center;
  max-width: 75%;
  margin: 0 auto;
  border-radius: 5px;
  height: 500px;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
}

#home-container {
  display: flex;
  flex-direction: column;
}

#question-container {
  display: none;
  flex-direction: column;
  justify-content: center;
}

#options-container {
  flex-direction: column;
	justify-content: center;

}

#results-container {
  display: none;
  flex-direction: column;
}

#highscore-container {
  display: flex;
  flex-direction: column;
}

ol {
  padding: 10px;
  margin: 10px;
}

li {
  background-color: var(--mystic);
  width: 400px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

button {
  background-color: var(--jaffa);
  width: 200px;
  justify-content: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

#timer {
  display: visible;
}

.option {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 120%;
  /* width: 400px; */
  background-color: grey;
  transition: transform .2s;
}

.option:hover {
  box-shadow: 3px 3px 3px 3px  #aaaaaa; //FIXME:
}

.correct {
  background-color: green;
  font-weight: bold;
}

.incorrect {
  background-color: red;
  font-weight: italic;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 10px;
}

#username {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}