header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: orange;
}
 
main {
  margin: 20px;
  padding: 10px;
  background-color: aqua;
}

h1 {
  font-size: 200%;
  margin: 20px;
  text-align: center;
}

h2{
  font-size: 150%;
  margin: 20px;
  text-align: center;
}

  nav {
    display: flex;
    justify-content: space-between;
  }
    
  p {
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    margin: 5px;
  }

button {
  background-color: green;
  align-content: center;
}

.home-container {
  display: visible;
  border: 1px dashed black;
  text-align: center;
  margin: 5px;
}

.question-container {
  display: none;
  flex-direction: column;
  border: 1px dashed black;
  text-align: center;
  margin: 5px;
}

.submit-container {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  align-items: center;
  margin: 5px;
}

.results-container {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  align-items: center;
  margin: 5px;
}

input,
button {
  width: 25%;
  margin: 10px;
}

.option {
  text-align: center;
  font-size: 120%;
  background-color: grey;
}

.correct {
  background-color: green;
  font-weight: bold;
}

.incorrect {
  background-color: red;
  font-weight: italic;
}

#timer {
  display: visible;
}